  <!DOCTYPE html>
  <html>
    <style>
      p {
        background-color: cadetblue;
        color: black;
        font-weight: bolder;
      }
    </style>
  
    <body style="background-color: transparent;border: none;outline: none;text-align: center;color: black;"><br>
      <h2 style="font-size: 30px; color: black; font-weight: bolder;text-align: center;">NEW QUOTE</h2><br><hr>
      <div class="container-fluid">
      <form (ngsubmit)="submitQuote()" #quoteForm="ngForm">
          <div class="form-group">
    
              <label for="description" style="font-size: 20px; color: aqua; outline-style: groove;"> ~QUOTE ~</label>
              <input style="outline-style: groove;color: blue;" type="text" placeholder="Input quote" class="form-control" id="description" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required>
              <div [hidden]="description.valid || description.pristine"    
                class="alert alert-danger" aria-required="true">
                <p>REQUIRED</p>
              </div>
          </div><br />
          <div class="form-group">
    
              <label for="name" style="font-size: 20px; color: black;outline-style: groove;"> ~UPLOADER'S NAME~</label>
              <input style="outline-style: groove;color: black;" type="text" placeholder="Input uploader's name" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" class="form-control" required>
              <div [hidden]="name.valid || name.pristine"    
                class="alert alert-danger">
                <p>UPLOADER'S NAME</p>
              </div>
          </div><br />
          <div class="form-group">
    
            <label for="author" style="font-size: 20px; color: blue;outline-style: groove;">~AUTHOR'S NAME~</label>
            <input style="outline-style: groove;color: aqua;" type="text" placeholder="Input author's name" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
            <div [hidden]="author.valid || author.pristine"    
              class="alert alert-danger">
              <p>AUTHOR'S NAME</p>
            </div>
        </div>
        
          <button type="submit" class="btn btn-primary" (click)="submitQuote()">ADD</button> 
      </form>
      <br><br>
      </div>
    </body>
  </html>
